body{
    background-color: black;
}
#header{
    background: linear-gradient(0deg, #31016F 22.4%, #A352BF 99.99%, rgba(61, 142, 188, 0) 100%); 
}
#logo{
    color: aliceblue;
    font-size: xx-large;
}
#Aboutus{
    color:aliceblue;
    font-size: xx-large;
}
#career{
    color:aliceblue;
    font-size: xx-large;
}
#contact{
    color:aliceblue;
    font-size: xx-large;
}
#des{
    color:aliceblue;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#pic{
    padding: 100px;
}
#lowerhand{
    padding-left: 0;
    position: relative;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0%   {left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:-10px; top:200px;}
    100% {left:0px; top:0px;}
  }
  #man{
    height: 200px;
    position: relative;
    animation-name: example2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example2 {
    0%   {left:0px; top:200px;}
    25%  { left:0px; top:200px;}
    50%  { left:0px; top:200px;}
    75%  { left:0px; top:0px;}
    100% {left:00px; top:0px;}
  }

  #upperhand{
    position: relative;
    animation-name: example3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example3 {
    0%   {left:200px; top:0px;}
    25%  { left:0px; top:200px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% {left:0px; top:200px;}
  }

#learnmore{
position: relative;
width: 109px;
height: 50px;
font-size: 15px;
color: white;
background: linear-gradient(0deg, #31016F 22.4%, #A352BF 99.99%, rgba(61, 142, 188, 0) 100%);
border: 1px solid #FFFCFC;
border-radius: 40px;
}

#TrustedBy{
    background: linear-gradient(0deg, #31016F 22.4%, #A352BF 99.99%, rgba(61, 142, 188, 0) 100%); 
    text-align: center;
    color:aliceblue;
  }

  #cb1,#cb2,#cb3{
    color:#eee;
    background: linear-gradient(0deg, #31016F 22.4%, #A352BF 99.99%, rgba(61, 142, 188, 0) 100%); 
  }

  #whyRec{
    background: linear-gradient(0deg, #31016F 22.4%, #A352BF 99.99%, rgba(61, 142, 188, 0) 100%); 
    color: #FFFCFC;
    text-align: center;
  }
  #footer{
    color:aliceblue;
    font-size: x-large;
    height: 250px;
    background: linear-gradient(0deg, #31016F 22.4%, #A352BF 99.99%, rgba(61, 142, 188, 0) 100%); 
  }
  
 .foraligning{
    font-size: 70px;
    color:aliceblue;
    text-align: center;
    background: linear-gradient(0deg, #31016F 22.4%, #A352BF 99.99%, rgba(61, 142, 188, 0) 100%); 
    border: 0.1 solid black;

 }
 .cf{
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left:10rem;
    border: 10px solid purple;
}
.field{
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 25px;
color: #8C33FF;
}

.in{
    border-radius: 40px;
}
.buttonlog{
color: aliceblue;
font-size: 20px;
width: 231px;
height: 31px;
background: linear-gradient(0deg, #31016F 22.4%, #A352BF 99.99%, rgba(61, 142, 188, 0) 100%);
border-radius: 40px;
}

#searchnav{
    background: linear-gradient(0deg, #31016F 22.4%, #A352BF 99.99%, rgba(61, 142, 188, 0) 100%);  
}
#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }

  #searchlogo{
    color: aliceblue;
    font-size: xx-large;
}

#searchlogo:hover{
    color:yellow;
}
.locitem{
    background: linear-gradient(0deg, #31016F 22.4%, #A352BF 99.99%, rgba(61, 142, 188, 0) 100%);
}